<mat-card class="form">
    <mat-card-title>sua conta</mat-card-title>
<mat-card-content>
<form>
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="cpf" name="cpf">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="senha" name="password">
    </mat-form-field>
  </p>

  <button mat-raised-button class="btn-login">
    Entrar
  </button>
  
  <button mat-raised-button (click)="navigateToAccountCreate()" class="btn-cadastrar">
    Criar Conta
  </button>

</form>
</mat-card-content>
</mat-card>