

<form [formGroup]="angFormCadastro" novalidate>
    <mat-card class="form-cadastro mat-elevation-z10">
    <mat-card-title>nova conta</mat-card-title>

        <mat-form-field>
            nome
            <input matInput required type="text" id="name"
            [(ngModel)]="account.name" formControlName="name" pattern="^[a-zA-Z\s]+$">
        </mat-form-field>
        <div *ngIf="angFormCadastro.controls['name'].invalid && (angFormCadastro.controls['name'].dirty || angFormCadastro.controls['name'].touched)" class="alert-danger">
            <div *ngIf="angFormCadastro.controls['name'].errors.required">
                Informe seu nome.
            </div>
            <div *ngIf="angFormCadastro.controls['name'].errors.pattern">
                Digite apenas letras. Ex.: Fulano da Silva
            </div>
        </div>

        <mat-form-field>
            cpf
            <input matInput required type="text" id="cpf" maxlength="14"
            [(ngModel)]="account.cpf" formControlName="cpf" pattern="\d{3}\.\d{3}\.\d{3}\-\d{2}$">
        </mat-form-field>
        <div *ngIf="angFormCadastro.controls['cpf'].invalid && (angFormCadastro.controls['cpf'].dirty || angFormCadastro.controls['cpf'].touched)" class="alert-danger">
            <div *ngIf="angFormCadastro.controls['cpf'].errors.required">
                Informe seu cpf.
            </div>
            <div *ngIf="angFormCadastro.controls['cpf'].errors.pattern">
                CPF 11 digitos com pontos e traços. Ex.: 333.333.333-33
            </div>
        </div>

        <mat-form-field>
            celular
            <input matInput required type="tel" id="celular" maxlength="13"
            [(ngModel)]="account.celular" formControlName="celular" pattern="^[0-9]{3}-([0-9]{8}|[0-9]{9})">
        </mat-form-field>
        <div *ngIf="angFormCadastro.controls['celular'].invalid && (angFormCadastro.controls['celular'].dirty || angFormCadastro.controls['celular'].touched)" class="alert-danger">
            <div *ngIf="angFormCadastro.controls['celular'].errors.required">
                Informe seu celular.
            </div>
            <div *ngIf="angFormCadastro.controls['celular'].errors.pattern">
                Digite DDD com o seu telefone. Ex.: 099-999999999.
            </div>
        </div>
        
        <mat-form-field>
            e-mail
            <input matInput type="email" id="email"
            [(ngModel)]="account.email" formControlName="email" 
            pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'>
        </mat-form-field>
        <div *ngIf="angFormCadastro.controls['email'].invalid && (angFormCadastro.controls['email'].dirty || angFormCadastro.controls['email'].touched)" class="alert-danger">
            <div *ngIf="angFormCadastro.controls['email'].errors.required">
                Informe seu email.
            </div>
            <div *ngIf="angFormCadastro.controls['email'].errors.pattern">
                E-mail incorreto. Ex.: fulano@serveremail.com
            </div>
        </div>

        <mat-form-field>
            data nascimento
            <input matInput required type="date" id="data" maxlength="10"
            [(ngModel)]="account.data" formControlName="data"
            pattern="^\d{4}[\/\-](0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])$">
        </mat-form-field>
        <div *ngIf="angFormCadastro.controls['data'].invalid && (angFormCadastro.controls['data'].dirty || angFormCadastro.controls['data'].touched)" class="alert-danger">
            <div *ngIf="angFormCadastro.controls['data'].errors.required">
                Informe sua data de nascimento.
            </div>
            <div *ngIf="angFormCadastro.controls['data'].errors.pattern">
                Data invalida. Ex.: 13/05/2002
            </div>
        </div>
        
        <mat-form-field>
            senha
            <input matInput required type="password" maxlength="8"
            [(ngModel)]="account.password" formControlName="password" 
            pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])([a-zA-Z0-9]{8})$">
        </mat-form-field>
        <div *ngIf="angFormCadastro.controls['password'].invalid && (angFormCadastro.controls['password'].dirty || angFormCadastro.controls['password'].touched)" class="alert-danger">
            <div *ngIf="angFormCadastro.controls['password'].errors.required">
                Informe sua senha.
            </div>
            <div *ngIf="angFormCadastro.controls['password'].errors.pattern">
                Senha invalida, a senha contem 8 digitos numericos, letras maiusculas e minusculas. Ex.: Fulano01
            </div>
        </div>
       
        <mat-form-field>
            confirme senha
            <input matInput required type="password" maxlength="8"
            [(ngModel)]="account.confirmpassword" formControlName="confirmpassword"
            pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])([a-zA-Z0-9]{8})$">
        </mat-form-field>
        <div *ngIf="angFormCadastro.controls['confirmpassword'].invalid && (angFormCadastro.controls['confirmpassword'].dirty || angFormCadastro.controls['confirmpassword'].touched)" class="alert-danger">
            <div *ngIf="angFormCadastro.controls['confirmpassword'].errors.required">
                Confirme sua senha.
            </div>
            <div *ngIf="angFormCadastro.controls['confirmpassword'].errors.pattern">
                Senha invalida, a senha contem 8 digitos numericos, letras maiusculas e minusculas. Ex.: Fulano01
            </div>
        </div>
        
        <!-- checkbox -->
        <section class="check-section">
            <mat-checkbox class="check-margin" [(ngModel)]="checked">Aceito Termos</mat-checkbox>
            <mat-checkbox class="check-margin" [(ngModel)]="checked">Desejo Receber Informações via SMS ou e-mail</mat-checkbox>
        </section>

        <br>
        <button type="submit" mat-raised-button (click)="createAccount()" 
        class="btn-cadastrar" [disabled]="angFormCadastro.pristine || angFormCadastro.invalid">
            Criar Conta
        </button>
        
        <button mat-raised-button (click)="cancel()">
            Já possuo conta 
        </button>
    </mat-card>
</form>



  
 