


<mat-card >
    <div class="card">
        <img class="main-banner" mat-card-image src="assets/img/home.jpg" alt="Vem ser Banco Indra">
        <mat-card-title class="title-card">
            vem ser banco indra      
        </mat-card-title>
        <mat-card-subtitle class="subtitle-card">
            tenha uma conta digital 
            <br> <br> faça a diferença no seu dia a dia.
        </mat-card-subtitle>
        <button mat-raised-button class="button-login" routerLink="/contas">
            entrar na conta
        </button>
        <button mat-raised-button class="button-cadastro" routerLink="/contas/create">
            abra sua conta
        </button>
    </div>
</mat-card>



