
.card {
    display: flex;
    align-items: center;
   
}

.card .main-banner {
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.card .title-card{
    position: absolute;
    color: #fff;
    font-weight: 600;
    font-size: 2.1rem;
    top: 40%;
}

.card .subtitle-card {
    position: absolute;
    color: #fdfdfd;
    font-weight: 300;
    font-size: 1.6rem;
    top: 54%;
}
